@-webkit-keyframes esdRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes esdRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes esdFlick {
  0% {
    border-color: transparent transparent transparent transparent;
    border-width: 25px 25px 25px 25px;
  }
  25% {
    border-color: transparent transparent transparent white;
    border-width: 25px 25px 25px 0;
  }
  50% {
    border-color: white transparent transparent transparent;
    border-width: 0 25px 25px 25px;
  }
  75% {
    border-color: transparent white transparent transparent;
    border-width: 25px 0 25px 25px;
  }
  100% {
    border-color: transparent transparent transparent transparent;
    border-width: 25px 25px 25px 25px;
  }
}

@keyframes esdFlick {
  0% {
    border-color: transparent transparent transparent transparent;
    border-width: 25px 25px 25px 25px;
  }
  25% {
    border-color: transparent transparent transparent white;
    border-width: 25px 25px 25px 0;
  }
  50% {
    border-color: white transparent transparent transparent;
    border-width: 0 25px 25px 25px;
  }
  75% {
    border-color: transparent white transparent transparent;
    border-width: 25px 0 25px 25px;
  }
  100% {
    border-color: transparent transparent transparent transparent;
    border-width: 25px 25px 25px 25px;
  }
}

.sampgallery-thumb {
  position: relative;
}

.sampgallery-thumb.sampgallery-thumb-intro {
  opacity: 0;
}

.sampgallery-thumb.sampgallery-loading:before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  left: 50%;
  bottom: 50%;
  margin-bottom: -25px;
  margin-left: -25px;
  border-style: solid;
  -webkit-animation: esdFlick 1s linear infinite;
          animation: esdFlick 1s linear infinite;
  z-index: 1;
  border-radius: 2px;
}

.sampgallery-thumb.sampgallery-loading.sampgallery-selected:after {
  bottom: 50%;
  z-index: 2;
}

.sampgallery-thumb.sampgallery-selected:after {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  padding: 0;
  margin-left: -25px;
  left: 50%;
  bottom: 10px;
  margin-bottom: -25px;
  border-style: solid;
  border-width: 0 25px 25px 25px;
  border-color: transparent transparent #666666 transparent;
  -webkit-transition: bottom 0.07s ease-out;
  transition: bottom 0.07s ease-out;
}

.sampgallery-thumb > figure > a {
  position: relative;
}

.sampgallery-thumb > figure > a:before {
  position: absolute;
  top: 5px;
  right: 5px;
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../imgs/sampwpgallery-icons.svg);
  background-position: center 55.5%;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.sampgallery-thumb figcaption {
  display: none;
}

.sampgallery-thumb.sampgallery-selected > figure > a:before {
  top: calc(50% - 25px);
  right: calc(50% - 25px);
  background-color: rgba(255, 255, 255, 0.9);
  background-position: center 66.6%;
}

.sampgallery-thumb.sampgallery-loading.sampgallery-selected > figure > a:before {
  display: none;
}

.sampgallery-preview-block {
  background-color: rgba(102, 102, 102, 0.2);
  clear: both;
  float: left;
  margin-bottom: inherit;
}

.sampgallery-preview-block .sampgallery-preview-caption {
  background-color: #666666;
  padding: 20px;
  margin: 0;
  color: #fff;
}

.sampgallery-preview-block .sampgallery-preview-caption a,
.sampgallery-preview-block .sampgallery-preview-caption a:link,
.sampgallery-preview-block .sampgallery-preview-caption a:visited {
  color: inherit;
  text-decoration: underline;
}

.sampgallery-preview-block,
.sampgallery-preview {
  display: block;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sampgallery-preview {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.sampgallery-preview img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.sampgallery-preview .sampgallery-ctrls {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  background-color: rgba(102, 102, 102, 0.7);
}

.sampgallery-preview .sampgallery-ctrls .sampgallery-ctrl {
  width: 50px;
  height: 50px;
  font-size: inherit;
  display: block;
  cursor: pointer;
  background-image: url(../imgs/sampwpgallery-icons.svg);
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  background-color: transparent;
}

.sampgallery-preview .sampgallery-ctrls .sampgallery-ctrl:focus, .sampgallery-preview .sampgallery-ctrls .sampgallery-ctrl:hover {
  background-color: #666666;
}

.sampgallery-preview .sampgallery-ctrls .sampgallery-ctrl-close {
  background-position: center 0%;
}

.sampgallery-preview .sampgallery-ctrls .sampgallery-ctrl-zoomout {
  background-position: center 11.1%;
  display: none;
}

.sampgallery-preview .sampgallery-ctrls .sampgallery-ctrl-zoomin {
  background-position: center 22.2%;
  display: none;
}

.sampgallery-preview .sampgallery-ctrls .sampgallery-ctrl-openimage {
  background-position: center 44.4%;
}

.sampgallery-thumb,
.sampgallery-preview-block {
  outline: 1px solid #666666;
}
/*# sourceMappingURL=sampwpgallery.css.map */