$color: #666666;
$color-hilite: rgba(255,255,255, 1);
$element-size: 50px;

//---

@keyframes esdRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes esdFlick {

    $border-size: $element-size/2;
//#31a5e6 #3CF289
    0% {
        border-color: transparent transparent transparent transparent;
        border-width: $border-size $border-size $border-size $border-size;
    }
    25% {
        border-color: transparent transparent transparent $color-hilite;
        border-width: $border-size $border-size $border-size 0;
    }
    50% {
        border-color: $color-hilite transparent transparent transparent;
        border-width: 0 $border-size $border-size $border-size;
    }
    75% {
        border-color: transparent $color-hilite transparent transparent;
        border-width: $border-size 0 $border-size $border-size;
    }
    100% {
        border-color: transparent transparent transparent transparent;
        border-width: $border-size $border-size $border-size $border-size;
    }
}

.sampgallery{
    width: 100%;
}

.sampgallery-thumb {
    position: relative;

    &.sampgallery-thumb-intro {
        opacity: 0;
    }

    &.sampgallery-loading{
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 50px;
            height: 50px;
            background-color: rgba(0,0,0, 0.5);
            left: 50%;
            bottom: 50%;
            margin-bottom: -$element-size/2;
            margin-left: -$element-size/2;
            border-style: solid;//has to be
            animation: esdFlick 1s linear infinite;
            z-index: 1;//has to be
            border-radius: 2px;
        }
    }

    &.sampgallery-loading.sampgallery-selected:after {
        bottom: 50%;
        z-index: 2;//has to be
    }

    &.sampgallery-selected:after {
        position: absolute;
        content: '';
        width: $element-size;
        height: $element-size;
        display: block;
        padding: 0;
        margin-left: -$element-size/2;
        left: 50%;
        bottom: $element-size/5;
        margin-bottom: -$element-size/2;
        border-style: solid;
        border-width: 0 $element-size/2 $element-size/2 $element-size/2;
        border-color: transparent transparent $color transparent;
        //anim
        transition: bottom 0.07s ease-out;
    }

        > figure{
            position: relative;
            cursor: pointer;

                //thumb icons
                &:after {
                    position: absolute;
                    top: $element-size/10;
                    right: $element-size/10;
                    content: '';
                    width: $element-size;
                    height: $element-size;
                    border-radius: $element-size/2;
                    background-color: rgba($color-hilite, 0.2);
                    background-image: url(../imgs/sampwpgallery-icons.svg);
                    background-position: center 55.5%;
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                }
        }

        figcaption{
            display: none;
        }

    &.sampgallery-selected{
            > figure > a {
                &:before {
                    top: calc(50% - #{$element-size/2});
                    right: calc(50% - #{$element-size/2});
                    background-color: rgba($color-hilite, 0.9);
                    background-position: center 66.6%;
                }
            }
    }
    &.sampgallery-loading.sampgallery-selected {
            > figure > a:before {
                display: none;
            }
    }
}

.sampgallery-preview-block{
    background-color: rgba($color, 0.2);
    clear:both;
    float:left;
    margin-bottom: inherit;

        .sampgallery-preview-caption{
            background-color: rgba($color, 1);
            padding: 20px;
            margin: 0;
            color: #fff;

                a,
                a:link,
                a:visited {
                    color:inherit;
                    text-decoration: underline;
                }
        }
}
.sampgallery-preview-block,
.sampgallery-preview{
    display: block;
    width:100%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sampgallery-preview{
    position:relative;
    text-align:center;
    overflow:hidden;

        img{
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
        }

        .sampgallery-ctrls{
            position: absolute;
            right: 0;
            top: 0;
            width: $element-size;
            background-color: rgba($color, 0.7);

                .sampgallery-ctrl{
                    width: $element-size;
                    height: $element-size;
                    font-size: inherit;
                    display: block;
                    cursor: pointer;
                    background-image: url(../imgs/sampwpgallery-icons.svg);
                    background-position: center top;
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    border: none;
                    outline: none;
                    background-color: transparent;

                        &:focus,
                        &:hover{
                            background-color: $color;
                        }
                }

                .sampgallery-ctrl-close{
                    background-position:center 0%;
                }
                .sampgallery-ctrl-zoomout{
                    background-position: center 11.1%;
                    display: none;
                }
                .sampgallery-ctrl-zoomin{
                    background-position: center 22.2%;
                    display: none;
                }
                .sampgallery-ctrl-openimage {
                    background-position: center 44.4%;
                }
        }
}

.sampgallery-thumb,
.sampgallery-preview-block {
    outline: 1px solid $color;
}